In [42]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import seaborn as sns

In [43]:
df=pd.read_csv("innercity.csv")

r=df.shape[0]
c=df.shape[1]
print(r,c)
df.head(10)

21613 23

,cid,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,...,basement,yr_built,yr_renovated,zipcode,lat,long,living_measure15,lot_measure15,furnished,total_area
0,3034200666,20141107T000000,808100,4,3.25,3020,13457,1.0,0,0,...,0,1956,0,98133,47.7174,-122.336,2120,7553,1,16477
1,8731981640,20141204T000000,277500,4,2.50,2550,7500,1.0,0,0,...,800,1976,0,98023,47.3165,-122.386,2260,8800,0,10050
2,5104530220,20150420T000000,404000,3,2.50,2370,4324,2.0,0,0,...,0,2006,0,98038,47.3515,-121.999,2370,4348,0,6694
3,6145600285,20140529T000000,300000,2,1.00,820,3844,1.0,0,0,...,0,1916,0,98133,47.7049,-122.349,1520,3844,0,4664
4,8924100111,20150424T000000,699000,2,1.50,1400,4050,1.0,0,0,...,0,1954,0,98115,47.6768,-122.269,1900,5940,0,5450
5,5525400430,20140715T000000,585000,3,2.50,2050,11690,2.0,0,0,...,0,1989,0,98059,47.5279,-122.161,2410,10172,1,13740
6,2419600075,20141201T000000,465000,3,1.75,1480,6360,1.0,0,0,...,0,1954,0,98133,47.7311,-122.353,1480,6360,0,7840
7,114101161,20140829T000000,480000,3,1.50,2100,67269,1.0,0,0,...,880,1949,0,98028,47.7592,-122.230,1610,15999,0,69369
8,7011201550,20140707T000000,780000,4,2.00,2600,4800,1.0,0,2,...,1200,1953,0,98119,47.6370,-122.371,2050,3505,0,7400
9,7203000640,20140918T000000,215000,4,1.00,1130,7400,1.0,0,0,...,0,1969,0,98003,47.3437,-122.316,1540,7379,0,8530

In [44]:
df=df.drop(columns=['cid'],axis=1)
print(df.shape[0],df.shape[1])
df.head(10)

21613 22

,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,condition,...,basement,yr_built,yr_renovated,zipcode,lat,long,living_measure15,lot_measure15,furnished,total_area
0,20141107T000000,808100,4,3.25,3020,13457,1.0,0,0,5,...,0,1956,0,98133,47.7174,-122.336,2120,7553,1,16477
1,20141204T000000,277500,4,2.50,2550,7500,1.0,0,0,3,...,800,1976,0,98023,47.3165,-122.386,2260,8800,0,10050
2,20150420T000000,404000,3,2.50,2370,4324,2.0,0,0,3,...,0,2006,0,98038,47.3515,-121.999,2370,4348,0,6694
3,20140529T000000,300000,2,1.00,820,3844,1.0,0,0,4,...,0,1916,0,98133,47.7049,-122.349,1520,3844,0,4664
4,20150424T000000,699000,2,1.50,1400,4050,1.0,0,0,4,...,0,1954,0,98115,47.6768,-122.269,1900,5940,0,5450
5,20140715T000000,585000,3,2.50,2050,11690,2.0,0,0,4,...,0,1989,0,98059,47.5279,-122.161,2410,10172,1,13740
6,20141201T000000,465000,3,1.75,1480,6360,1.0,0,0,3,...,0,1954,0,98133,47.7311,-122.353,1480,6360,0,7840
7,20140829T000000,480000,3,1.50,2100,67269,1.0,0,0,4,...,880,1949,0,98028,47.7592,-122.230,1610,15999,0,69369
8,20140707T000000,780000,4,2.00,2600,4800,1.0,0,2,3,...,1200,1953,0,98119,47.6370,-122.371,2050,3505,0,7400
9,20140918T000000,215000,4,1.00,1130,7400,1.0,0,0,4,...,0,1969,0,98003,47.3437,-122.316,1540,7379,0,8530

In [45]:
# sns.pairplot(df)

In [46]:
df['dayhours'] = pd.to_datetime(df['dayhours'])

df['year'] = df['dayhours'].dt.year
df['month'] = df['dayhours'].dt.month
df['day'] = df['dayhours'].dt.day
df['day_of_week'] = df['dayhours'].dt.dayofweek

df=df=df.drop(columns='dayhours',axis=1)
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             21613 non-null  int64
 1   room_bed          21613 non-null  int64
 2   room_bath         21613 non-null  float64
 3   living_measure    21613 non-null  int64
 4   lot_measure       21613 non-null  int64
 5   ceil              21613 non-null  float64
 6   coast             21613 non-null  int64
 7   sight             21613 non-null  int64
 8   condition         21613 non-null  int64
 9   quality           21613 non-null  int64
 10  ceil_measure      21613 non-null  int64
 11  basement          21613 non-null  int64
 12  yr_built          21613 non-null  int64
 13  yr_renovated      21613 non-null  int64
 14  zipcode           21613 non-null  int64
 15  lat               21613 non-null  float64
 16  long              21613 non-null  float64
 17  living_measure15  21613 non-null  int64
 18  lot_measure15     21613 non-null  int64
 19  furnished         21613 non-null  int64
 20  total_area        21613 non-null  int64
 21  year              21613 non-null  int32
 22  month             21613 non-null  int32
 23  day               21613 non-null  int32
 24  day_of_week       21613 non-null  int32
dtypes: float64(4), int32(4), int64(17)
memory usage: 3.8 MB

,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,condition,quality,...,lat,long,living_measure15,lot_measure15,furnished,total_area,year,month,day,day_of_week
0,808100,4,3.25,3020,13457,1.0,0,0,5,9,...,47.7174,-122.336,2120,7553,1,16477,2014,11,7,4
1,277500,4,2.50,2550,7500,1.0,0,0,3,8,...,47.3165,-122.386,2260,8800,0,10050,2014,12,4,3
2,404000,3,2.50,2370,4324,2.0,0,0,3,8,...,47.3515,-121.999,2370,4348,0,6694,2015,4,20,0
3,300000,2,1.00,820,3844,1.0,0,0,4,6,...,47.7049,-122.349,1520,3844,0,4664,2014,5,29,3
4,699000,2,1.50,1400,4050,1.0,0,0,4,8,...,47.6768,-122.269,1900,5940,0,5450,2015,4,24,4
5,585000,3,2.50,2050,11690,2.0,0,0,4,9,...,47.5279,-122.161,2410,10172,1,13740,2014,7,15,1
6,465000,3,1.75,1480,6360,1.0,0,0,3,7,...,47.7311,-122.353,1480,6360,0,7840,2014,12,1,0
7,480000,3,1.50,2100,67269,1.0,0,0,4,7,...,47.7592,-122.230,1610,15999,0,69369,2014,8,29,4
8,780000,4,2.00,2600,4800,1.0,0,2,3,8,...,47.6370,-122.371,2050,3505,0,7400,2014,7,7,0
9,215000,4,1.00,1130,7400,1.0,0,0,4,7,...,47.3437,-122.316,1540,7379,0,8530,2014,9,18,3

In [47]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs 
X=df.drop('price',axis=1)
y=df['price']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)
linR=LinearRegression()
sfs1=sfs(linR,k_features=18,forward=True,scoring="r2",cv=18)
sfs1.fit(X_train,y_train)

columnlist=list(X_train.columns)
feature_cols=list(sfs1.k_feature_idx_)
subset=[columnlist[i] for i in feature_cols]
print(subset)

['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'living_measure15', 'lot_measure15', 'furnished', 'year', 'day']

In [48]:
#['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']

mpg_df=df[subset].copy()

mpg_df['is_renovated']=df['yr_renovated'].apply(lambda x:1 if x>0 else 0)


mpg_df = pd.concat([mpg_df, df['price']], axis=1)
mpg_df=mpg_df.drop(columns='yr_renovated',axis=1)
mpg_df

,room_bed,room_bath,living_measure,coast,sight,condition,quality,basement,yr_built,zipcode,lat,long,living_measure15,lot_measure15,furnished,year,day,is_renovated,price
0,4,3.25,3020,0,0,5,9,0,1956,98133,47.7174,-122.336,2120,7553,1,2014,7,0,808100
1,4,2.50,2550,0,0,3,8,800,1976,98023,47.3165,-122.386,2260,8800,0,2014,4,0,277500
2,3,2.50,2370,0,0,3,8,0,2006,98038,47.3515,-121.999,2370,4348,0,2015,20,0,404000
3,2,1.00,820,0,0,4,6,0,1916,98133,47.7049,-122.349,1520,3844,0,2014,29,0,300000
4,2,1.50,1400,0,0,4,8,0,1954,98115,47.6768,-122.269,1900,5940,0,2015,24,0,699000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,4,2.50,2303,0,0,3,8,0,2006,98092,47.3258,-122.165,2516,4500,0,2014,1,0,300000
21609,4,2.50,3490,0,0,3,8,0,2003,98042,47.3772,-122.127,2910,5025,0,2014,19,0,320000
21610,4,2.75,2790,0,0,3,8,0,2014,98045,47.4827,-121.773,2620,5509,0,2014,27,0,483453
21611,2,2.00,1440,0,0,3,7,0,1985,98072,47.7648,-122.159,1780,15000,0,2014,17,0,365000
21612,3,1.00,970,0,0,3,7,0,1949,98125,47.7190,-122.321,1730,6128,0,2015,24,0,354950

In [49]:
from sklearn.model_selection import RandomizedSearchCV

X=mpg_df.drop('price',axis=1)
y=mpg_df['price']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)
linR=LinearRegression()
param_dist = {
    'fit_intercept': [True, False],
    'positive': [True, False],
    'copy_X': [True, False], 
}

randomcv=RandomizedSearchCV(linR,param_distributions=param_dist,n_iter=20)
randomcv.fit(X_train,y_train)
best_params=randomcv.best_params_

print("Possible parameters:",linR.get_params())
print("Best ones from randomcv:",best_params)

randomcv.cv_results_['mean_test_score']

C:\Users\vivek\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 8 is smaller than n_iter=20. Running 8 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Possible parameters: {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}
Best ones from randomcv: {'positive': False, 'fit_intercept': True, 'copy_X': True}

array([0.66908826, 0.69986508, 0.64663565, 0.69905453, 0.66908826,
       0.69986508, 0.64663565, 0.69905453])

In [50]:
#linear regression scores with randomsearchcv:
best_linR = LinearRegression(**best_params)

# Train the model
best_linR.fit(X_train, y_train)

# Predict on training and testing sets
y_train_pred = best_linR.predict(X_train)
y_test_pred = best_linR.predict(X_test)

# Calculate scores
train_score = best_linR.score(X_train, y_train)  
test_score = best_linR.score(X_test, y_test)

print([train_score,test_score])

[0.7019333231605408, 0.7012090139001818]

In [51]:
#Polynomial degree:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

poly=PolynomialFeatures(degree=2,include_bias=False)

x_polytrain=poly.fit_transform(X_train)

pipeline = Pipeline([
    ('poly', PolynomialFeatures(include_bias=False)),  
    ('linreg', LinearRegression())                    
])

param_dist = {
    'poly__degree': [2, 3],                      
    'linreg__fit_intercept': [True, False],         
    'linreg__positive': [False],             
}

randomcv = RandomizedSearchCV(
    pipeline,
    param_distributions=param_dist,
    n_iter=20,
    cv=5, 
    random_state=42,
)

randomcv.fit(X_train, y_train)

dtreebest=randomcv.best_params_
print("Best parameters:", dtreebest)
print("Best score (Negative MSE):", randomcv.best_score_)

y_train_pred = randomcv.predict(X_train)
y_test_pred = randomcv.predict(X_test)

# Calculate RÂ² score for training and test data
train_score = r2_score(y_train, y_train_pred)
test_score = r2_score(y_test, y_test_pred)

# Convert RÂ² scores to percentages
train_score_percentage = train_score * 100
test_score_percentage = test_score * 100

# Display results
print(f"\nTraining RÂ² score accuracy (out of 100%): {train_score_percentage:.2f}%")
print(f"Test RÂ² score accuracy (out of 100%): {test_score_percentage:.2f}%")

C:\Users\vivek\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best parameters: {'poly__degree': 2, 'linreg__positive': False, 'linreg__fit_intercept': True}
Best score (Negative MSE): 0.8118550353584089

Training RÂ² score accuracy (out of 100%): 83.07%
Test RÂ² score accuracy (out of 100%): 81.78%

In [52]:
mpg_df.head(5)

,room_bed,room_bath,living_measure,coast,sight,condition,quality,basement,yr_built,zipcode,lat,long,living_measure15,lot_measure15,furnished,year,day,is_renovated,price
0,4,3.25,3020,0,0,5,9,0,1956,98133,47.7174,-122.336,2120,7553,1,2014,7,0,808100
1,4,2.50,2550,0,0,3,8,800,1976,98023,47.3165,-122.386,2260,8800,0,2014,4,0,277500
2,3,2.50,2370,0,0,3,8,0,2006,98038,47.3515,-121.999,2370,4348,0,2015,20,0,404000
3,2,1.00,820,0,0,4,6,0,1916,98133,47.7049,-122.349,1520,3844,0,2014,29,0,300000
4,2,1.50,1400,0,0,4,8,0,1954,98115,47.6768,-122.269,1900,5940,0,2015,24,0,699000

In [53]:

sample_input = np.array([[2, 1.00, 820, 0, 0, 4, 6, 0, 1916, 98133, 47.7049, -122.349,1520, 3844, 0,2014,29,0]])
columns = [['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'zipcode', 'lat', 'long', 'living_measure15', 'lot_measure15', 'furnished', 'year', 'day','is_renovated']]
input_df = pd.DataFrame(sample_input, columns=columns)

predicted_price = randomcv.predict(input_df)
print(f"Predicted house price: ${predicted_price[0]:,.2f}")

Predicted house price: $395,106.89

C:\Users\vivek\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but PolynomialFeatures was fitted with feature names
  warnings.warn(

In [54]:
print(X_train.shape[0],X_train.shape[1])
print(y_train.shape[0])

15129 18
15129

In [55]:
print("Training data shape:", X_train.shape)
print("Training labels distribution:")
print(y_train.value_counts(normalize=True))

# Check for any NaN or infinite values
print("\nNaN values in X_train:")
print(np.isnan(X_train).sum())
print("\nInfinite values in X_train:")
print(np.isinf(X_train).sum())

# Print some basic statistics of your features
print("\nFeature statistics:")
print(X_train.describe())

Training data shape: (15129, 18)
Training labels distribution:
price
450000     0.008328
350000     0.007800
550000     0.007469
500000     0.007139
425000     0.007073
             ...
428950     0.000066
1590000    0.000066
761000     0.000066
897500     0.000066
563225     0.000066
Name: proportion, Length: 2987, dtype: float64

NaN values in X_train:
room_bed            0
room_bath           0
living_measure      0
coast               0
sight               0
condition           0
quality             0
basement            0
yr_built            0
zipcode             0
lat                 0
long                0
living_measure15    0
lot_measure15       0
furnished           0
year                0
day                 0
is_renovated        0
dtype: int64

Infinite values in X_train:
room_bed            0
room_bath           0
living_measure      0
coast               0
sight               0
condition           0
quality             0
basement            0
yr_built            0
zipcode             0
lat                 0
long                0
living_measure15    0
lot_measure15       0
furnished           0
year                0
day                 0
is_renovated        0
dtype: int64

Feature statistics:
           room_bed     room_bath  living_measure         coast         sight  \
count  15129.000000  15129.000000    15129.000000  15129.000000  15129.000000
mean       3.372199      2.112714     2079.309340      0.007866      0.232467
std        0.944282      0.773526      920.518111      0.088342      0.764054
min        0.000000      0.000000      290.000000      0.000000      0.000000
25%        3.000000      1.500000     1420.000000      0.000000      0.000000
50%        3.000000      2.250000     1910.000000      0.000000      0.000000
75%        4.000000      2.500000     2550.000000      0.000000      0.000000
max       33.000000      8.000000    13540.000000      1.000000      4.000000

          condition       quality      basement      yr_built       zipcode  \
count  15129.000000  15129.000000  15129.000000  15129.000000  15129.000000
mean       3.411263      7.652522    290.843215   1970.753255  98078.071717
std        0.654335      1.179610    440.859970     29.309223     53.494722
min        1.000000      1.000000      0.000000   1900.000000  98001.000000
25%        3.000000      7.000000      0.000000   1951.000000  98033.000000
50%        3.000000      7.000000      0.000000   1974.000000  98065.000000
75%        4.000000      8.000000    560.000000   1996.000000  98118.000000
max        5.000000     13.000000   4820.000000   2015.000000  98199.000000

                lat          long  living_measure15  lot_measure15  \
count  15129.000000  15129.000000      15129.000000   15129.000000
mean      47.560371   -122.213534       1987.171062   12968.888096
std        0.138549      0.140637        688.067234   28325.798291
min       47.155900   -122.519000        399.000000     660.000000
25%       47.472700   -122.328000       1480.000000    5100.000000
50%       47.571900   -122.230000       1840.000000    7632.000000
75%       47.678000   -122.124000       2370.000000   10098.000000
max       47.777600   -121.321000       6210.000000  871200.000000

          furnished          year           day  is_renovated
count  15129.000000  15129.000000  15129.000000  15129.000000
mean       0.196113   2014.323683     15.631436      0.044286
std        0.397068      0.467896      8.640076      0.205736
min        0.000000   2014.000000      1.000000      0.000000
25%        0.000000   2014.000000      8.000000      0.000000
50%        0.000000   2014.000000     16.000000      0.000000
75%        0.000000   2015.000000     23.000000      0.000000
max        1.000000   2015.000000     31.000000      1.000000

In [56]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

dt = DecisionTreeRegressor(random_state=42)

param_grid = {
    'max_depth': [None, 5, 10, 15, 20],              
    'min_samples_split': [2, 5, 10, 20],              
    'min_samples_leaf': [1, 2, 5,10]                 
}


grid_search = GridSearchCV(
    estimator=dt, 
    param_grid=param_grid, 
    scoring='neg_mean_absolute_error', 
    cv=5,               
    verbose=1           
)

grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
best_score = -grid_search.best_score_ 
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)
y_prtrain = best_model.predict(X_train)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

r2train=r2_score(y_train,y_prtrain)

print(f"Best Parameters: {best_params}")
print(f"Cross-validated Mean Absolute Error: ${best_score:.2f}")
print(f"Test Set Mean Absolute Error: ${mae:.2f}")
print(f"Root Mean Squared Error: ${rmse:.2f}")
print(f"R-squared Score: {r2:.4f}")
print(f"R-squared Score Training set: {r2train:.4f}")

Fitting 5 folds for each of 80 candidates, totalling 400 fits
Best Parameters: {'max_depth': 15, 'min_samples_leaf': 5, 'min_samples_split': 20}
Cross-validated Mean Absolute Error: $91937.43
Test Set Mean Absolute Error: $86281.09
Root Mean Squared Error: $157292.29
R-squared Score: 0.8162
R-squared Score Training set: 0.9115

In [57]:
#Using XGBoostRegressor:

import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

xgb_model=xgb.XGBRegressor(random_state=42)

param_dist = {
    'n_estimators': [500, 1000],  # Increased for finer granularity
    'learning_rate': [0.01, 0.05, 0.1],
    'max_depth': [3, 4, 5],  # Shallower trees
    'min_child_weight': [10, 15, 20],  # Higher value for simpler models
    'subsample': [0.5, 0.7, 0.8],
    'colsample_bytree': [0.5, 0.7, 0.8],
    'gamma': [0.0, 0.1, 0.2],  # Adjusted gamma
    'reg_alpha': [1, 10, 50],  # Stronger L1 regularization
    'reg_lambda': [5, 10, 20],  # Stronger L2 regularization
}

# RandomizedSearchCV
random_search = RandomizedSearchCV(
    estimator=xgb_model,
    param_distributions=param_dist,
    n_iter=100,
    cv=5,
    scoring='neg_mean_absolute_error',
    random_state=42,
    n_jobs=-1,
)


random_search.fit(X_train, y_train)

best_xgb=random_search.best_estimator_


print("Best Parameters:")
print(random_search.best_params_)

# Predict on the training set
y_train_pred = best_xgb.predict(X_train)

# Predict on the test set
y_test_pred = best_xgb.predict(X_test)

# Calculate training metrics
train_mae = mean_absolute_error(y_train, y_train_pred)
train_mse = mean_squared_error(y_train, y_train_pred)
train_rmse = np.sqrt(train_mse)
train_r2 = r2_score(y_train, y_train_pred)

# Calculate test metrics
test_mae = mean_absolute_error(y_test, y_test_pred)
test_mse = mean_squared_error(y_test, y_test_pred)
test_rmse = np.sqrt(test_mse)
test_r2 = r2_score(y_test, y_test_pred)

print("\nTraining Performance:")
print(f"Mean Absolute Error (Training): ${train_mae:.2f}")
print(f"Root Mean Squared Error (Training): ${train_rmse:.2f}")
print(f"R-squared Score (Training): {train_r2*100:.4f} %")

print("\nTest Performance:")
print(f"Mean Absolute Error (Test): ${test_mae:.2f}")
print(f"Root Mean Squared Error (Test): ${test_rmse:.2f}")
print(f"R-squared Score (Test): {test_r2*100:.4f} %")



feature_importances = pd.DataFrame({
    'Feature': X_train.columns,  
    'Importance': best_xgb.feature_importances_
})

feature_importances = feature_importances.sort_values(by='Importance', ascending=False)

print("\nFeature Importance (Descending Order):")
print(feature_importances)

Best Parameters:
{'subsample': 0.8, 'reg_lambda': 10, 'reg_alpha': 50, 'n_estimators': 1000, 'min_child_weight': 10, 'max_depth': 5, 'learning_rate': 0.05, 'gamma': 0.0, 'colsample_bytree': 0.5}

Training Performance:
Mean Absolute Error (Training): $46933.95
Root Mean Squared Error (Training): $68502.66
R-squared Score (Training): 96.5267 %

Test Performance:
Mean Absolute Error (Test): $63524.87
Root Mean Squared Error (Test): $121370.81
R-squared Score (Test): 89.0537 %

Feature Importance (Descending Order):
             Feature  Importance
14         furnished    0.499286
6            quality    0.123325
3              coast    0.120338
2     living_measure    0.050050
4              sight    0.047699
10               lat    0.036880
1          room_bath    0.022581
12  living_measure15    0.018959
11              long    0.017374
8           yr_built    0.011910
9            zipcode    0.010674
0           room_bed    0.009266
17      is_renovated    0.007330
13     lot_measure15    0.007069
5          condition    0.005819
7           basement    0.004697
15              year    0.004468
16               day    0.002274

In [58]:

print(mpg_df.shape[0],mpg_df.shape[1])
mpg_df.head(5)

21613 19

,room_bed,room_bath,living_measure,coast,sight,condition,quality,basement,yr_built,zipcode,lat,long,living_measure15,lot_measure15,furnished,year,day,is_renovated,price
0,4,3.25,3020,0,0,5,9,0,1956,98133,47.7174,-122.336,2120,7553,1,2014,7,0,808100
1,4,2.50,2550,0,0,3,8,800,1976,98023,47.3165,-122.386,2260,8800,0,2014,4,0,277500
2,3,2.50,2370,0,0,3,8,0,2006,98038,47.3515,-121.999,2370,4348,0,2015,20,0,404000
3,2,1.00,820,0,0,4,6,0,1916,98133,47.7049,-122.349,1520,3844,0,2014,29,0,300000
4,2,1.50,1400,0,0,4,8,0,1954,98115,47.6768,-122.269,1900,5940,0,2015,24,0,699000

In [59]:
sample_input = np.array([[4, 3.25, 3020, 0, 0, 5, 9, 0, 1956, 98133, 47.7174, -122.336,2120,7553,1,2014,7,0]])
columns = [['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'zipcode', 'lat', 'long', 'living_measure15', 'lot_measure15', 'furnished', 'year', 'day','is_renovated']]
input_df = pd.DataFrame(sample_input,columns=columns)

predicted_price=best_xgb.predict(input_df)

print(f"Predicted House Price: ${predicted_price[0]:,.2f}")

Predicted House Price: $839,202.38