In [31]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import seaborn as sns

In [32]:
df=pd.read_csv("innercity.csv")

r=df.shape[0]
c=df.shape[1]
print(r,c)
df.head(10)

21613 23

,cid,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,...,basement,yr_built,yr_renovated,zipcode,lat,long,living_measure15,lot_measure15,furnished,total_area
0,3034200666,20141107T000000,808100,4,3.25,3020,13457,1.0,0,0,...,0,1956,0,98133,47.7174,-122.336,2120,7553,1,16477
1,8731981640,20141204T000000,277500,4,2.50,2550,7500,1.0,0,0,...,800,1976,0,98023,47.3165,-122.386,2260,8800,0,10050
2,5104530220,20150420T000000,404000,3,2.50,2370,4324,2.0,0,0,...,0,2006,0,98038,47.3515,-121.999,2370,4348,0,6694
3,6145600285,20140529T000000,300000,2,1.00,820,3844,1.0,0,0,...,0,1916,0,98133,47.7049,-122.349,1520,3844,0,4664
4,8924100111,20150424T000000,699000,2,1.50,1400,4050,1.0,0,0,...,0,1954,0,98115,47.6768,-122.269,1900,5940,0,5450
5,5525400430,20140715T000000,585000,3,2.50,2050,11690,2.0,0,0,...,0,1989,0,98059,47.5279,-122.161,2410,10172,1,13740
6,2419600075,20141201T000000,465000,3,1.75,1480,6360,1.0,0,0,...,0,1954,0,98133,47.7311,-122.353,1480,6360,0,7840
7,114101161,20140829T000000,480000,3,1.50,2100,67269,1.0,0,0,...,880,1949,0,98028,47.7592,-122.230,1610,15999,0,69369
8,7011201550,20140707T000000,780000,4,2.00,2600,4800,1.0,0,2,...,1200,1953,0,98119,47.6370,-122.371,2050,3505,0,7400
9,7203000640,20140918T000000,215000,4,1.00,1130,7400,1.0,0,0,...,0,1969,0,98003,47.3437,-122.316,1540,7379,0,8530

In [33]:
df=df.drop(columns=['cid','living_measure15','lot_measure15'],axis=1)
print(df.shape[0],df.shape[1])
df.head(10)

21613 20

,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,condition,quality,ceil_measure,basement,yr_built,yr_renovated,zipcode,lat,long,furnished,total_area
0,20141107T000000,808100,4,3.25,3020,13457,1.0,0,0,5,9,3020,0,1956,0,98133,47.7174,-122.336,1,16477
1,20141204T000000,277500,4,2.50,2550,7500,1.0,0,0,3,8,1750,800,1976,0,98023,47.3165,-122.386,0,10050
2,20150420T000000,404000,3,2.50,2370,4324,2.0,0,0,3,8,2370,0,2006,0,98038,47.3515,-121.999,0,6694
3,20140529T000000,300000,2,1.00,820,3844,1.0,0,0,4,6,820,0,1916,0,98133,47.7049,-122.349,0,4664
4,20150424T000000,699000,2,1.50,1400,4050,1.0,0,0,4,8,1400,0,1954,0,98115,47.6768,-122.269,0,5450
5,20140715T000000,585000,3,2.50,2050,11690,2.0,0,0,4,9,2050,0,1989,0,98059,47.5279,-122.161,1,13740
6,20141201T000000,465000,3,1.75,1480,6360,1.0,0,0,3,7,1480,0,1954,0,98133,47.7311,-122.353,0,7840
7,20140829T000000,480000,3,1.50,2100,67269,1.0,0,0,4,7,1220,880,1949,0,98028,47.7592,-122.230,0,69369
8,20140707T000000,780000,4,2.00,2600,4800,1.0,0,2,3,8,1400,1200,1953,0,98119,47.6370,-122.371,0,7400
9,20140918T000000,215000,4,1.00,1130,7400,1.0,0,0,4,7,1130,0,1969,0,98003,47.3437,-122.316,0,8530

In [34]:
# sns.pairplot(df)

In [35]:
df['dayhours'] = pd.to_datetime(df['dayhours'])

df['year'] = df['dayhours'].dt.year
df['month'] = df['dayhours'].dt.month
df['day'] = df['dayhours'].dt.day
df['day_of_week'] = df['dayhours'].dt.dayofweek

df=df=df.drop(columns='dayhours',axis=1)
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           21613 non-null  int64
 1   room_bed        21613 non-null  int64
 2   room_bath       21613 non-null  float64
 3   living_measure  21613 non-null  int64
 4   lot_measure     21613 non-null  int64
 5   ceil            21613 non-null  float64
 6   coast           21613 non-null  int64
 7   sight           21613 non-null  int64
 8   condition       21613 non-null  int64
 9   quality         21613 non-null  int64
 10  ceil_measure    21613 non-null  int64
 11  basement        21613 non-null  int64
 12  yr_built        21613 non-null  int64
 13  yr_renovated    21613 non-null  int64
 14  zipcode         21613 non-null  int64
 15  lat             21613 non-null  float64
 16  long            21613 non-null  float64
 17  furnished       21613 non-null  int64
 18  total_area      21613 non-null  int64
 19  year            21613 non-null  int32
 20  month           21613 non-null  int32
 21  day             21613 non-null  int32
 22  day_of_week     21613 non-null  int32
dtypes: float64(4), int32(4), int64(15)
memory usage: 3.5 MB

,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,condition,quality,...,yr_renovated,zipcode,lat,long,furnished,total_area,year,month,day,day_of_week
0,808100,4,3.25,3020,13457,1.0,0,0,5,9,...,0,98133,47.7174,-122.336,1,16477,2014,11,7,4
1,277500,4,2.50,2550,7500,1.0,0,0,3,8,...,0,98023,47.3165,-122.386,0,10050,2014,12,4,3
2,404000,3,2.50,2370,4324,2.0,0,0,3,8,...,0,98038,47.3515,-121.999,0,6694,2015,4,20,0
3,300000,2,1.00,820,3844,1.0,0,0,4,6,...,0,98133,47.7049,-122.349,0,4664,2014,5,29,3
4,699000,2,1.50,1400,4050,1.0,0,0,4,8,...,0,98115,47.6768,-122.269,0,5450,2015,4,24,4
5,585000,3,2.50,2050,11690,2.0,0,0,4,9,...,0,98059,47.5279,-122.161,1,13740,2014,7,15,1
6,465000,3,1.75,1480,6360,1.0,0,0,3,7,...,0,98133,47.7311,-122.353,0,7840,2014,12,1,0
7,480000,3,1.50,2100,67269,1.0,0,0,4,7,...,0,98028,47.7592,-122.230,0,69369,2014,8,29,4
8,780000,4,2.00,2600,4800,1.0,0,2,3,8,...,0,98119,47.6370,-122.371,0,7400,2014,7,7,0
9,215000,4,1.00,1130,7400,1.0,0,0,4,7,...,0,98003,47.3437,-122.316,0,8530,2014,9,18,3

In [36]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs 
X=df.drop('price',axis=1)
y=df['price']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)
linR=LinearRegression()
sfs1=sfs(linR,k_features=14,forward=True,scoring="r2",cv=14)
sfs1.fit(X_train,y_train)

columnlist=list(X_train.columns)
feature_cols=list(sfs1.k_feature_idx_)
subset=[columnlist[i] for i in feature_cols]
print(subset)

['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']

In [37]:
#['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']


mpg_df=df[subset].copy()
mpg_df['basement']=mpg_df['basement'].replace(0, np.median(mpg_df.loc[mpg_df['basement'] != 0, 'basement']))
mpg_df = pd.concat([mpg_df, df['price']], axis=1)
mpg_df

,room_bed,room_bath,living_measure,coast,sight,condition,quality,basement,yr_built,zipcode,lat,long,furnished,year,price
0,4,3.25,3020,0,0,5,9,700,1956,98133,47.7174,-122.336,1,2014,808100
1,4,2.50,2550,0,0,3,8,800,1976,98023,47.3165,-122.386,0,2014,277500
2,3,2.50,2370,0,0,3,8,700,2006,98038,47.3515,-121.999,0,2015,404000
3,2,1.00,820,0,0,4,6,700,1916,98133,47.7049,-122.349,0,2014,300000
4,2,1.50,1400,0,0,4,8,700,1954,98115,47.6768,-122.269,0,2015,699000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,4,2.50,2303,0,0,3,8,700,2006,98092,47.3258,-122.165,0,2014,300000
21609,4,2.50,3490,0,0,3,8,700,2003,98042,47.3772,-122.127,0,2014,320000
21610,4,2.75,2790,0,0,3,8,700,2014,98045,47.4827,-121.773,0,2014,483453
21611,2,2.00,1440,0,0,3,7,700,1985,98072,47.7648,-122.159,0,2014,365000
21612,3,1.00,970,0,0,3,7,700,1949,98125,47.7190,-122.321,0,2015,354950

In [38]:
from sklearn.model_selection import RandomizedSearchCV

X=mpg_df.drop('price',axis=1)
y=mpg_df['price']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)
linR=LinearRegression()
param_dist = {
    'fit_intercept': [True, False],
    'positive': [True, False],
    'copy_X': [True], 
}

randomcv=RandomizedSearchCV(linR,param_distributions=param_dist,n_iter=20)
randomcv.fit(X_train,y_train)
best_params=randomcv.best_params_

print("Possible parameters:",linR.get_params())
print("Best ones from randomcv:",best_params)

randomcv.cv_results_['mean_test_score']

Possible parameters: {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}
Best ones from randomcv: {'positive': False, 'fit_intercept': True, 'copy_X': True}

C:\Users\vivek\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

array([0.66360118, 0.69755678, 0.63988892, 0.69696872])

In [39]:
#linear regression scores with randomsearchcv:
best_linR = LinearRegression(**best_params)

# Train the model
best_linR.fit(X_train, y_train)

# Predict on training and testing sets
y_train_pred = best_linR.predict(X_train)
y_test_pred = best_linR.predict(X_test)

# Calculate scores
train_score = best_linR.score(X_train, y_train)  
test_score = best_linR.score(X_test, y_test)

print([train_score,test_score])

[0.6995767662687042, 0.6996935821683391]

In [40]:
#Polynomial degree:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

poly=PolynomialFeatures(degree=2,include_bias=False)

x_polytrain=poly.fit_transform(X_train)

pipeline = Pipeline([
    ('poly', PolynomialFeatures(include_bias=False)),  
    ('linreg', LinearRegression())                    
])

param_dist = {
    'poly__degree': [2, 3],                      
    'linreg__fit_intercept': [True, False],         
    'linreg__positive': [False],             
}

randomcv = RandomizedSearchCV(
    pipeline,
    param_distributions=param_dist,
    n_iter=6,
    cv=4, 
    random_state=42
)

randomcv.fit(X_train, y_train)

dtreebest=randomcv.best_params_
print("Best parameters:", dtreebest)
print("Best score (Negative MSE):", randomcv.best_score_)

score = randomcv.score(X_test,y_test) 
print("Model RÂ² score:", score)

test_score_percentage = score * 100

print("Test RÂ² score accuracy (out of 100%):", test_score_percentage)

C:\Users\vivek\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 4 is smaller than n_iter=6. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best parameters: {'poly__degree': 2, 'linreg__positive': False, 'linreg__fit_intercept': False}
Best score (Negative MSE): 0.7937502660234426
Model RÂ² score: 0.8092284025248339
Test RÂ² score accuracy (out of 100%): 80.92284025248338

In [ ]:

sample_input = np.array([[2, 1.00, 820, 0, 0, 4, 6, 700, 1916, 98133, 47.7049, -122.349, 0, 2014]])
columns = ['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 
           'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']
input_df = pd.DataFrame(sample_input, columns=columns)

predicted_price = randomcv.predict(input_df)
print(f"Predicted house price: ${predicted_price[0]:,.2f}")

Predicted house price: $350,114.18

In [49]:
print(X_train.shape[0],X_train.shape[1])
print(y_train.shape[0])

15129 14
15129

In [50]:
print("Training data shape:", X_train.shape)
print("Training labels distribution:")
print(y_train.value_counts(normalize=True))

# Check for any NaN or infinite values
print("\nNaN values in X_train:")
print(np.isnan(X_train).sum())
print("\nInfinite values in X_train:")
print(np.isinf(X_train).sum())

# Print some basic statistics of your features
print("\nFeature statistics:")
print(X_train.describe())

Training data shape: (15129, 14)
Training labels distribution:
price
450000     0.008328
350000     0.007800
550000     0.007469
500000     0.007139
425000     0.007073
             ...
428950     0.000066
1590000    0.000066
761000     0.000066
897500     0.000066
563225     0.000066
Name: proportion, Length: 2987, dtype: float64

NaN values in X_train:
room_bed          0
room_bath         0
living_measure    0
coast             0
sight             0
condition         0
quality           0
basement          0
yr_built          0
zipcode           0
lat               0
long              0
furnished         0
year              0
dtype: int64

Infinite values in X_train:
room_bed          0
room_bath         0
living_measure    0
coast             0
sight             0
condition         0
quality           0
basement          0
yr_built          0
zipcode           0
lat               0
long              0
furnished         0
year              0
dtype: int64

Feature statistics:
           room_bed     room_bath  living_measure         coast         sight  \
count  15129.000000  15129.000000    15129.000000  15129.000000  15129.000000
mean       3.372199      2.112714     2079.309340      0.007866      0.232467
std        0.944282      0.773526      920.518111      0.088342      0.764054
min        0.000000      0.000000      290.000000      0.000000      0.000000
25%        3.000000      1.500000     1420.000000      0.000000      0.000000
50%        3.000000      2.250000     1910.000000      0.000000      0.000000
75%        4.000000      2.500000     2550.000000      0.000000      0.000000
max       33.000000      8.000000    13540.000000      1.000000      4.000000

          condition       quality      basement      yr_built       zipcode  \
count  15129.000000  15129.000000  15129.000000  15129.000000  15129.000000
mean       3.411263      7.652522    715.729196   1970.753255  98078.071717
std        0.654335      1.179610    253.161181     29.309223     53.494722
min        1.000000      1.000000     10.000000   1900.000000  98001.000000
25%        3.000000      7.000000    700.000000   1951.000000  98033.000000
50%        3.000000      7.000000    700.000000   1974.000000  98065.000000
75%        4.000000      8.000000    700.000000   1996.000000  98118.000000
max        5.000000     13.000000   4820.000000   2015.000000  98199.000000

                lat          long     furnished          year
count  15129.000000  15129.000000  15129.000000  15129.000000
mean      47.560371   -122.213534      0.196113   2014.323683
std        0.138549      0.140637      0.397068      0.467896
min       47.155900   -122.519000      0.000000   2014.000000
25%       47.472700   -122.328000      0.000000   2014.000000
50%       47.571900   -122.230000      0.000000   2014.000000
75%       47.678000   -122.124000      0.000000   2015.000000
max       47.777600   -121.321000      1.000000   2015.000000

In [52]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

dt = DecisionTreeRegressor(random_state=42)

param_grid = {
    'max_depth': [None, 5, 10, 15, 20],              
    'min_samples_split': [2, 5, 10, 20],              
    'min_samples_leaf': [1, 2, 5,10]                 
}


grid_search = GridSearchCV(
    estimator=dt, 
    param_grid=param_grid, 
    scoring='neg_mean_absolute_error', 
    cv=5,               
    verbose=1           
)

grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
best_score = -grid_search.best_score_ 
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Best Parameters: {best_params}")
print(f"Cross-validated Mean Absolute Error: ${best_score:.2f}")
print(f"Test Set Mean Absolute Error: ${mae:.2f}")
print(f"Root Mean Squared Error: ${rmse:.2f}")
print(f"R-squared Score: {r2:.4f}")

Fitting 5 folds for each of 80 candidates, totalling 400 fits
Best Parameters: {'max_depth': 15, 'min_samples_leaf': 2, 'min_samples_split': 20}
Cross-validated Mean Absolute Error: $90183.06
Test Set Mean Absolute Error: $87040.87
Root Mean Squared Error: $160310.66
R-squared Score: 0.8090

In [ ]:
# from sklearn.model_selection import train_test_split, cross_val_score
# from sklearn.preprocessing import StandardScaler
# from sklearn.pipeline import Pipeline
# from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# # Linear Models
# from sklearn.linear_model import (
#     LinearRegression, 
#     Ridge, 
#     Lasso, 
#     ElasticNet
# )

# # Tree-Based Models
# from sklearn.ensemble import (
#     RandomForestRegressor, 
#     GradientBoostingRegressor
# )

# # Support Vector Regression
# from sklearn.svm import SVR

# # Xgboost
# import xgboost as xgb

# # Function to evaluate models
# def evaluate_model(model, X_train, X_test, y_train, y_test):
#     # Fit the model
#     model.fit(X_train, y_train)
    
#     # Predict
#     y_pred = model.predict(X_test)
    
#     # Calculate metrics
#     mae = mean_absolute_error(y_test, y_pred)
#     mse = mean_squared_error(y_test, y_pred)
#     rmse = np.sqrt(mse)
#     r2 = r2_score(y_test, y_pred)
    
#     return {
#         'MAE': mae,
#         'MSE': mse,
#         'RMSE': rmse,
#         'R2': r2
#     }

# # Create a list of models to try
# models = [
#     ('Linear Regression', LinearRegression()),
#     ('Ridge Regression', Ridge()),
#     ('Lasso Regression', Lasso()),
#     ('Elastic Net', ElasticNet()),
#     ('Random Forest', RandomForestRegressor(n_estimators=100, random_state=42)),
#     ('Gradient Boosting', GradientBoostingRegressor(n_estimators=100, random_state=42)),
#     ('Support Vector Regression', SVR(kernel='rbf')),
#     ('XGBoost', xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42))
# ]

# # Create a pipeline with scaling
# def create_pipeline(model):
#     return Pipeline([
#         ('scaler', StandardScaler()),
#         ('regressor', model)
#     ])

# # Evaluate and print results
# print("Model Performance Comparison:")
# for name, model in models:
#     # Create a pipeline with scaling
#     pipeline = create_pipeline(model)
    
#     # Evaluate the model
#     results = evaluate_model(pipeline, X_train, X_test, y_train, y_test)
    
#     print(f"\n{name}:")
#     for metric, value in results.items():
#         print(f"{metric}: {value}")

Model Performance Comparison:

Linear Regression:
MAE: 124790.2044786698
MSE: 40413418295.081116
RMSE: 201030.88890785197
R2: 0.699693582168333

Ridge Regression:
MAE: 124786.83072683998
MSE: 40413465918.36982
RMSE: 201031.00735550676
R2: 0.6996932282863839

Lasso Regression:
MAE: 124789.64649014757
MSE: 40413389920.29387
RMSE: 201030.81833463712
R2: 0.6996937930173797

Elastic Net:
MAE: 124473.77607780891
MSE: 45871334607.91533
RMSE: 214175.94311200155
R2: 0.6591365749692721

Random Forest:
MAE: 68622.18355322808
MSE: 15683119068.04975
RMSE: 125232.26049245358
R2: 0.8834609516729057

Gradient Boosting:
MAE: 77717.35783989173
MSE: 17638331856.940613
RMSE: 132809.38166010944
R2: 0.8689320408927468

Support Vector Regression:
MAE: 220135.33561076917
MSE: 142011804697.3772
RMSE: 376844.536509921
R2: -0.05526971381360224

XGBoost:
MAE: 67974.06762077806
MSE: 15539542011.936613
RMSE: 124657.69936885813
R2: 0.8845278525494743

In [ ]:
#Using XGBoostRegressor:

import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

xgb_model=xgb.XGBRegressor(random_state=42)

param_dist={
    'n_estimators': [50, 100, 200, 300],
    'learning_rate': [0.01, 0.1, 0.3],
    'max_depth': [3, 4, 5, 6, 7],
    'min_child_weight': [1, 3, 5],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'gamma': [0, 0.1, 0.3, 0.5]
}


random_search = RandomizedSearchCV(
    estimator=xgb_model,
    param_distributions=param_dist,
    n_iter=100, 
    cv=5, 
    scoring='neg_mean_absolute_error',  
    random_state=42,
    n_jobs=-1  
)

random_search.fit(X_train, y_train)

best_xgb=random_search.best_estimator_


print("Best Parameters:")
print(random_search.best_params_)

y_pred=best_xgb.predict(X_test)

mae=mean_absolute_error(y_test, y_pred)
mse=mean_squared_error(y_test, y_pred)
rmse=np.sqrt(mse)
r2=r2_score(y_test, y_pred)

print("\nModel Performance:")
print(f"Mean Absolute Error: ${mae:.2f}")
print(f"Root Mean Squared Error: ${rmse:.2f}")
print(f"R-squared Score: {r2:.4f}")

Best Parameters:
{'subsample': 0.6, 'n_estimators': 300, 'min_child_weight': 3, 'max_depth': 7, 'learning_rate': 0.1, 'gamma': 0.3, 'colsample_bytree': 0.8}

Model Performance:
Mean Absolute Error: $65753.66
Root Mean Squared Error: $121258.57
R-squared Score: 0.8907

In [56]:
mpg_df.head(5)

,room_bed,room_bath,living_measure,coast,sight,condition,quality,basement,yr_built,zipcode,lat,long,furnished,year,price
0,4,3.25,3020,0,0,5,9,700,1956,98133,47.7174,-122.336,1,2014,808100
1,4,2.50,2550,0,0,3,8,800,1976,98023,47.3165,-122.386,0,2014,277500
2,3,2.50,2370,0,0,3,8,700,2006,98038,47.3515,-121.999,0,2015,404000
3,2,1.00,820,0,0,4,6,700,1916,98133,47.7049,-122.349,0,2014,300000
4,2,1.50,1400,0,0,4,8,700,1954,98115,47.6768,-122.269,0,2015,699000

In [ ]:
sample_input = np.array([[4, 3.25, 3020, 0, 0, 5, 9, 700, 1956, 98133, 47.7174, -122.336, 1, 2014]])
columns = ['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 
           'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']
input_df = pd.DataFrame(sample_input, columns=columns)

predicted_price = best_xgb.predict(input_df)

print(f"Predicted House Price: ${predicted_price[0]:,.2f}")

Predicted House Price: $811,304.12