In [51]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import seaborn as sns

In [52]:
df=pd.read_csv("innercity.csv")

r=df.shape[0]
c=df.shape[1]
print(r,c)
df.head(10)

21613 23

,cid,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,...,basement,yr_built,yr_renovated,zipcode,lat,long,living_measure15,lot_measure15,furnished,total_area
0,3034200666,20141107T000000,808100,4,3.25,3020,13457,1.0,0,0,...,0,1956,0,98133,47.7174,-122.336,2120,7553,1,16477
1,8731981640,20141204T000000,277500,4,2.50,2550,7500,1.0,0,0,...,800,1976,0,98023,47.3165,-122.386,2260,8800,0,10050
2,5104530220,20150420T000000,404000,3,2.50,2370,4324,2.0,0,0,...,0,2006,0,98038,47.3515,-121.999,2370,4348,0,6694
3,6145600285,20140529T000000,300000,2,1.00,820,3844,1.0,0,0,...,0,1916,0,98133,47.7049,-122.349,1520,3844,0,4664
4,8924100111,20150424T000000,699000,2,1.50,1400,4050,1.0,0,0,...,0,1954,0,98115,47.6768,-122.269,1900,5940,0,5450
5,5525400430,20140715T000000,585000,3,2.50,2050,11690,2.0,0,0,...,0,1989,0,98059,47.5279,-122.161,2410,10172,1,13740
6,2419600075,20141201T000000,465000,3,1.75,1480,6360,1.0,0,0,...,0,1954,0,98133,47.7311,-122.353,1480,6360,0,7840
7,114101161,20140829T000000,480000,3,1.50,2100,67269,1.0,0,0,...,880,1949,0,98028,47.7592,-122.230,1610,15999,0,69369
8,7011201550,20140707T000000,780000,4,2.00,2600,4800,1.0,0,2,...,1200,1953,0,98119,47.6370,-122.371,2050,3505,0,7400
9,7203000640,20140918T000000,215000,4,1.00,1130,7400,1.0,0,0,...,0,1969,0,98003,47.3437,-122.316,1540,7379,0,8530

In [53]:
df=df.drop(columns=['cid','living_measure15','lot_measure15'],axis=1)
print(df.shape[0],df.shape[1])
df.head(10)

21613 20

,dayhours,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,condition,quality,ceil_measure,basement,yr_built,yr_renovated,zipcode,lat,long,furnished,total_area
0,20141107T000000,808100,4,3.25,3020,13457,1.0,0,0,5,9,3020,0,1956,0,98133,47.7174,-122.336,1,16477
1,20141204T000000,277500,4,2.50,2550,7500,1.0,0,0,3,8,1750,800,1976,0,98023,47.3165,-122.386,0,10050
2,20150420T000000,404000,3,2.50,2370,4324,2.0,0,0,3,8,2370,0,2006,0,98038,47.3515,-121.999,0,6694
3,20140529T000000,300000,2,1.00,820,3844,1.0,0,0,4,6,820,0,1916,0,98133,47.7049,-122.349,0,4664
4,20150424T000000,699000,2,1.50,1400,4050,1.0,0,0,4,8,1400,0,1954,0,98115,47.6768,-122.269,0,5450
5,20140715T000000,585000,3,2.50,2050,11690,2.0,0,0,4,9,2050,0,1989,0,98059,47.5279,-122.161,1,13740
6,20141201T000000,465000,3,1.75,1480,6360,1.0,0,0,3,7,1480,0,1954,0,98133,47.7311,-122.353,0,7840
7,20140829T000000,480000,3,1.50,2100,67269,1.0,0,0,4,7,1220,880,1949,0,98028,47.7592,-122.230,0,69369
8,20140707T000000,780000,4,2.00,2600,4800,1.0,0,2,3,8,1400,1200,1953,0,98119,47.6370,-122.371,0,7400
9,20140918T000000,215000,4,1.00,1130,7400,1.0,0,0,4,7,1130,0,1969,0,98003,47.3437,-122.316,0,8530

In [54]:
# sns.pairplot(df)

In [55]:
df['dayhours'] = pd.to_datetime(df['dayhours'])

df['year'] = df['dayhours'].dt.year
df['month'] = df['dayhours'].dt.month
df['day'] = df['dayhours'].dt.day
df['day_of_week'] = df['dayhours'].dt.dayofweek

df=df=df.drop(columns='dayhours',axis=1)
df.info()
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           21613 non-null  int64
 1   room_bed        21613 non-null  int64
 2   room_bath       21613 non-null  float64
 3   living_measure  21613 non-null  int64
 4   lot_measure     21613 non-null  int64
 5   ceil            21613 non-null  float64
 6   coast           21613 non-null  int64
 7   sight           21613 non-null  int64
 8   condition       21613 non-null  int64
 9   quality         21613 non-null  int64
 10  ceil_measure    21613 non-null  int64
 11  basement        21613 non-null  int64
 12  yr_built        21613 non-null  int64
 13  yr_renovated    21613 non-null  int64
 14  zipcode         21613 non-null  int64
 15  lat             21613 non-null  float64
 16  long            21613 non-null  float64
 17  furnished       21613 non-null  int64
 18  total_area      21613 non-null  int64
 19  year            21613 non-null  int32
 20  month           21613 non-null  int32
 21  day             21613 non-null  int32
 22  day_of_week     21613 non-null  int32
dtypes: float64(4), int32(4), int64(15)
memory usage: 3.5 MB

,price,room_bed,room_bath,living_measure,lot_measure,ceil,coast,sight,condition,quality,...,yr_renovated,zipcode,lat,long,furnished,total_area,year,month,day,day_of_week
0,808100,4,3.25,3020,13457,1.0,0,0,5,9,...,0,98133,47.7174,-122.336,1,16477,2014,11,7,4
1,277500,4,2.50,2550,7500,1.0,0,0,3,8,...,0,98023,47.3165,-122.386,0,10050,2014,12,4,3
2,404000,3,2.50,2370,4324,2.0,0,0,3,8,...,0,98038,47.3515,-121.999,0,6694,2015,4,20,0
3,300000,2,1.00,820,3844,1.0,0,0,4,6,...,0,98133,47.7049,-122.349,0,4664,2014,5,29,3
4,699000,2,1.50,1400,4050,1.0,0,0,4,8,...,0,98115,47.6768,-122.269,0,5450,2015,4,24,4
5,585000,3,2.50,2050,11690,2.0,0,0,4,9,...,0,98059,47.5279,-122.161,1,13740,2014,7,15,1
6,465000,3,1.75,1480,6360,1.0,0,0,3,7,...,0,98133,47.7311,-122.353,0,7840,2014,12,1,0
7,480000,3,1.50,2100,67269,1.0,0,0,4,7,...,0,98028,47.7592,-122.230,0,69369,2014,8,29,4
8,780000,4,2.00,2600,4800,1.0,0,2,3,8,...,0,98119,47.6370,-122.371,0,7400,2014,7,7,0
9,215000,4,1.00,1130,7400,1.0,0,0,4,7,...,0,98003,47.3437,-122.316,0,8530,2014,9,18,3

In [56]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs 
X=df.drop('price',axis=1)
y=df['price']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)
linR=LinearRegression()
sfs1=sfs(linR,k_features=14,forward=True,scoring="r2",cv=14)
sfs1.fit(X_train,y_train)

columnlist=list(X_train.columns)
feature_cols=list(sfs1.k_feature_idx_)
subset=[columnlist[i] for i in feature_cols]
print(subset)

['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']

In [57]:
#['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']


mpg_df=df[subset].copy()
mpg_df['basement']=mpg_df['basement'].replace(0, np.median(mpg_df.loc[mpg_df['basement'] != 0, 'basement']))
mpg_df = pd.concat([mpg_df, df['price']], axis=1)
mpg_df

,room_bed,room_bath,living_measure,coast,sight,condition,quality,basement,yr_built,zipcode,lat,long,furnished,year,price
0,4,3.25,3020,0,0,5,9,700,1956,98133,47.7174,-122.336,1,2014,808100
1,4,2.50,2550,0,0,3,8,800,1976,98023,47.3165,-122.386,0,2014,277500
2,3,2.50,2370,0,0,3,8,700,2006,98038,47.3515,-121.999,0,2015,404000
3,2,1.00,820,0,0,4,6,700,1916,98133,47.7049,-122.349,0,2014,300000
4,2,1.50,1400,0,0,4,8,700,1954,98115,47.6768,-122.269,0,2015,699000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,4,2.50,2303,0,0,3,8,700,2006,98092,47.3258,-122.165,0,2014,300000
21609,4,2.50,3490,0,0,3,8,700,2003,98042,47.3772,-122.127,0,2014,320000
21610,4,2.75,2790,0,0,3,8,700,2014,98045,47.4827,-121.773,0,2014,483453
21611,2,2.00,1440,0,0,3,7,700,1985,98072,47.7648,-122.159,0,2014,365000
21612,3,1.00,970,0,0,3,7,700,1949,98125,47.7190,-122.321,0,2015,354950

In [58]:
from sklearn.model_selection import RandomizedSearchCV

X=mpg_df.drop('price',axis=1)
y=mpg_df['price']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)
linR=LinearRegression()
param_dist = {
    'fit_intercept': [True, False],
    'positive': [True, False],
    'copy_X': [True], 
}

randomcv=RandomizedSearchCV(linR,param_distributions=param_dist,n_iter=20)
randomcv.fit(X_train,y_train)
best_params=randomcv.best_params_

print("Possible parameters:",linR.get_params())
print("Best ones from randomcv:",best_params)

randomcv.cv_results_['mean_test_score']

Possible parameters: {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}
Best ones from randomcv: {'positive': False, 'fit_intercept': True, 'copy_X': True}

C:\Users\vivek\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

array([0.66360118, 0.69755678, 0.63988892, 0.69696872])

In [59]:
#linear regression scores with randomsearchcv:
best_linR = LinearRegression(**best_params)

# Train the model
best_linR.fit(X_train, y_train)

# Predict on training and testing sets
y_train_pred = best_linR.predict(X_train)
y_test_pred = best_linR.predict(X_test)

# Calculate scores
train_score = best_linR.score(X_train, y_train)  
test_score = best_linR.score(X_test, y_test)

print([train_score,test_score])

[0.6995767662687042, 0.6996935821683391]

In [60]:
#Polynomial degree:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

poly=PolynomialFeatures(degree=2,include_bias=False)

x_polytrain=poly.fit_transform(X_train)

pipeline = Pipeline([
    ('poly', PolynomialFeatures(include_bias=False)),  
    ('linreg', LinearRegression())                    
])

param_dist = {
    'poly__degree': [2, 3],                      
    'linreg__fit_intercept': [True, False],         
    'linreg__positive': [False],             
}

randomcv = RandomizedSearchCV(
    pipeline,
    param_distributions=param_dist,
    n_iter=6,
    cv=4, 
    random_state=42
)

randomcv.fit(X_train, y_train)

dtreebest=randomcv.best_params_
print("Best parameters:", dtreebest)
print("Best score (Negative MSE):", randomcv.best_score_)

score = randomcv.score(X_test,y_test) 
print("Model RÂ² score:", score)

test_score_percentage = score * 100

print("Test RÂ² score accuracy (out of 100%):", test_score_percentage)

C:\Users\vivek\AppData\Roaming\Python\Python311\site-packages\sklearn\model_selection\_search.py:318: UserWarning: The total space of parameters 4 is smaller than n_iter=6. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Best parameters: {'poly__degree': 2, 'linreg__positive': False, 'linreg__fit_intercept': False}
Best score (Negative MSE): 0.7937502660234426
Model RÂ² score: 0.8092284025248339
Test RÂ² score accuracy (out of 100%): 80.92284025248338

In [62]:

#sample_input = np.array([[4, 3.25, 3020, 0, 0, 5, 9, 0, 1956, 98133, 47.7174, -122.336, 1, 2014]])
sample_input = np.array([[2, 1.00, 820, 0, 0, 4, 6, 700, 1916, 98133, 47.7049, -122.349, 0, 2014]])
# Convert it into a DataFrame (if needed for your model)
columns = ['room_bed', 'room_bath', 'living_measure', 'coast', 'sight', 'condition', 'quality', 'basement', 
           'yr_built', 'zipcode', 'lat', 'long', 'furnished', 'year']
input_df = pd.DataFrame(sample_input, columns=columns)

# Predict the price using the best model (e.g., 'randomcv')
predicted_price = randomcv.predict(input_df)
print(f"Predicted house price: ${predicted_price[0]:,.2f}")

Predicted house price: $350,114.18